<ion-tabs>
<!--
  <ion-tab-bar slot="bottom" color="primary">
    <ion-tab-button tab="dashboard">
      <ion-icon name="grid-outline"></ion-icon>
      <ion-label>Dashboard</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="activity">
      <ion-icon name="square"></ion-icon>
      <ion-label>Activity</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="budget">
      <ion-icon name="ellipse"></ion-icon>
      <ion-label>Budget</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="cog"></ion-icon>
      <ion-label>Setting</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
-->
</ion-tabs>
