<ion-header>
  <ion-toolbar class="ion-text-center">
      <ion-card-header color="primary">
          <ion-card-title>
              Tolal {{ todayTotal | currency:'USD'}}
          </ion-card-title>
          <ion-card-subtitle>
              {{ selectedDate | date }}
          </ion-card-subtitle>
      </ion-card-header>
      <ion-footer>
          <ion-row>
              <ion-col size="3">
                  <ion-button expand="full" fill="solid" (click)="setCurrentToTodayDate()">Today</ion-button>
              </ion-col>
              <ion-col size="3">
                  <ion-button expand="full" fill="solid" (click)="selected.open()">Date</ion-button>
                  <ion-datetime hidden #selected
                                [value]="this.selectedDate.toISOString()"
                                (ionChange)="changeSelectedDate(selected.value)"
                                [min]="installDate"
                                [max]="todayDate.toISOString()"
                  ></ion-datetime>
              </ion-col>
              <ion-col size="3">
                  <ion-button expand="full" fill="solid" (click)="selectedType.open()">Type</ion-button>
                  <ion-item hidden>
                      <ion-select interface="popover" #selectedType>
                          <ion-select-option [value]="type.value" *ngFor="let type of expensesType | keyvalue">{{ type.value }}</ion-select-option>
                      </ion-select>
                  </ion-item>
              </ion-col>
              <ion-col size="3">
                  <ion-button expand="full" fill="solid" (click)="priceFilter()">
                    <ion-icon name="logo-usd"></ion-icon>
                    <ion-icon *ngIf="filter" [name]="filterByPrice ? 'caret-down-outline' : 'caret-up-outline'"></ion-icon>
                  </ion-button>
              </ion-col>
          </ion-row>
      </ion-footer>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card *ngFor="let expense of expenses | category: selectedType.value">
    <ion-toolbar color="primary">
      <ion-buttons slot="end">
        <ion-button>
          <ion-icon size="large" name="help-circle-outline"></ion-icon>
        </ion-button>
        <ion-button>
          <ion-icon size="large" name="create-outline">Amount</ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title slot="start" size="large">$ {{ expense.amount}}</ion-title>
    </ion-toolbar>
    <ion-card-content>
      {{ expense.description }}
        <ion-grid>
          <ion-row>
            <ion-col size="6">
              <ion-text class="ion-text-center">
                {{ expense.createdOn | date }}
              </ion-text>
            </ion-col>
            <ion-col size="6">
              <ion-text class="ion-text-center">
                {{ expense.type }}
              </ion-text>
            </ion-col>
          </ion-row>
        </ion-grid>
    </ion-card-content>
  </ion-card>
  <!-- fab placed to the top end -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="warning" (click)="presentModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
